<template name='for-agencies_index'>
  <h1 class="page-title">Let&rsquo;s work together!</h1>
  <p class="synopsis">We&rsquo;re delighted to hear you&rsquo;re interested in working with us. Here&rsquo;s an overview of the process we&rsquo;ll need to go through before we begin:</p>
  <ol class="table-of-contents">
    <li>Decide you want to work with us (yay!)</li>
    <li>Do paperwork (our lawyers make us do this)</li>
    <li>Make cool stuff</li>
  </ol>
  <h1>What do you mean paperwork?</h1>
  <p>We&rsquo;re helping to reshape government as fast as we can, but that doesn&rsquo;t get us out of having to work the way it&rsquo;s used to working. Here&rsquo;s what&rsquo;ll happen after we decide to work together.</p>
  <ol>
    <li>Receive and approve a statement of work from your 18F project lead.</li>
    <li>Read our <a href="/for-agencies/primer">Primer on Interagency Agreements</a>.</li>
    <li>Complete our <a href="/for-agencies/survey"><abbr title="Interagency Agreement">IAA</abbr> Form Preparation Survey.</a></li>
    <li>
      Take receipt of an <abbr title="Interagency Agreement">IAA</abbr>.
      <ol>
        <li>Have your agency official sign block 23 on form 7600A; </li>
        <li>Have your program official sign block 37 on form 7600B;</li>
        <li>Have your funding official sign block 38 on form 7600B.</li>
        <li>Have your agency official sign the Determination and Findings document.</li>
      </ol>
    </li>
    <li>Scan the entire agreement as a PDF (this pains us, too). <a href="mailto:joshua.bailes@gsa.gov">Send it back to us</a>.</li>
    <li>Receive an executed agreement from 18F for distribution!</li>
  </ol>
</template>