 <template name='index'>
  <div class="page-form-7600a-index">
    <header>
      <h1 class="page-title">7600A</h1>
      <form class="create-new-7600a-form">
        <input type="submit" class="button button-new" value="New">
      </form>
    </header>
    {{#each form7600as}}
      <article class="form-7600a">
        <dl>
          <dt class="requesting-agency">Requesting agency</dt>
          <dd class="requesting-agency">{{d 'parties-requesting-agency-name'}}</dd>
          <dt class="id-number">Database ID</dt>
          <dd class="id-number">{{ _id }}</dd>
        </dl>
        <div class="form-7600a-actions">
          <a class="edit" href="/7600a/{{_id}}/edit">View/edit</a>
          <form class="delete-7600a-form">
            <input type="hidden" name="id" value="{{_id}}">
            <input type="submit" class="button button-delete" value="Delete">
          </form>
          <form class="generate-7600a-pdf"><button class="button button-pdf">Generate PDF</button></form>
        </div>
      </article>
    {{/each}}    
  </div>
</template>