<template name='index'>
  <h2>IAA Manager</h2>
  
  <h3><a href="/for-agencies">For Agencies</a></h3>
  
  <hr />
  <form class="create-new-7600a-form">
    <div class="field field-name">
      <label for="parties-requesting-agency-name">
        <span class="label-text">Requesting Agency Name</span>
        <input required name="parties-requesting-agency-name" id="parties-requesting-agency-name" type="text">
      </label>
    </div>
    <input type="submit" class="button" value="Create A New 7600A">
  </form>
  <hr />
  {{#each form7600as}}
    <article class="form-7600a">
      <dl>
        <dt><b>Requesting agency:</b></dt>
        <dd>{{d 'parties-requesting-agency-name'}}</dd>
        <dt>Database ID</dt>
        <dd>{{ _id }}</dd>
      </dl>
      <a href="/7600a/{{_id}}/edit">View/edit</a>
      <form class="delete-7600a-form">
        <input type="hidden" name="id" value="{{_id}}">
        <input type="submit" class="button" value="Delete">
      </form>
      <form class="generate-7600a-pdf">
        <button>Generate PDF</button>
      </form>
      <hr />
    </article>
  {{/each}}
</template>