<template name='layout'>
  <head>
    <title>7600A | Interagency Agreement Manager | 18F</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='/fonts/pt_serif/stylesheet.css' rel='stylesheet' type='text/css'>
    <link href='/fonts/roboto/stylesheet.css' rel='stylesheet' type='text/css'>
    <link href='/fonts/roboto_condensed/stylesheet.css' rel='stylesheet' type='text/css'>
    <link href='/fonts/playfair_display/stylesheet.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header class="banner" role="banner">
      <div class="wrap">
        <h1><a href="/"><img src="/images/logo-18f.png" class="logo" alt="18F"><span class="interagency-agreement-manager">Interagency Agreement Site</span></a></h1>
        {{> loginButtons}}
      </div>
    </header>
    <main>
      <div class="wrap">
        {{> yield}}
      </div>
    </main>
  </body>
</template>