<template name='layout'>
  <head>
    <title>7600A | Interagency Agreement Manager | 18F</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,400,300|Roboto+Condensed:700|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic' rel='stylesheet' type='text/css'>    
    <script type="text/javascript" src="javascripts/application.js"></script>
  </head>
  <body>
  <header class="banner" role="banner">
    <div class="wrap">
      <h1><a href="/"><img src="images/logo-18f.png" class="logo" alt="18F"><span class="interagency-agreement-manager">Interagency Agreement Site</span></a></h1>
    </div>
  </header>
    <main>
      <div class="wrap">
        {{> yield}}
      </div>
    </main>
  </body>
</template>
