<template name='index'>  
  <form class="create-new-7600a-form">
    <div class="field field-name">
      <label for="parties-requesting-agency-name">
        <span class="label-text">Requesting Agency Name</span>
        <input required name="parties-requesting-agency-name" id="parties-requesting-agency-name" type="text">
      </label>
    </div>
    <input type="submit" class="button" value="Create A New 7600A">
  </form>
  <hr />
  {{#each form7600as}}
    <article class="form-7600a">
      <dl>
        <dt class="requesting-agency">Requesting agency</dt>
        <dd class="requesting-agency"><a href="edit.html">{{d 'parties-requesting-agency-name'}}</a></dd>
        <dt class="id-number">ID number</dt>
        <dd class="id-number">{{d 'gtc-number'}} - 0000 - {{d 'mod-number'}}</dd>
      </dl>
      <div class="form-7600a-actions">
          <a class="edit" href="/7600a/{{_id}}/edit">Show/edit</a>
          <form class="generate-7600a-pdf pdf">
            <button>Generate PDF</button>
          </form>
          <form class="delete-7600a-form">
            <input type="hidden" name="id" value="{{_id}}">
            <button class="button button-delete">Delete</button>
          </form>
      </div>
    </article>
  {{/each}}
</template>