/* @override http://localhost:4000/iaa-forms/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @group bootstrap */

body{
	font-family: "Roboto", helvetica neue, helvetica, sans-serif;
	font-size: 16px;
	color: #333;
}

a{ color: #0064be; }
a:hover{ color: #003c72; }

a.a-back{
	color: #555;
	font-size: 14px;
	margin-top: -1em;
	margin-bottom: 2em;
	display: block;
}

a.a-return{ 
	color: #666; 
	font-size: 14px;
	display: block;
	padding-top: 8px;
}

a.a-return::before{
	content: "\2190";
	color: #888;
	margin-left: 4px;
	margin-right: 10px;
	display: inline-block;
	background: #f3f3f3;
	width: 24px;
	height: 24px;
	line-height: 24px;
	border-radius: 100%;
	text-align: center;
	
}
a.a-return:hover{ color: #333; }
a.a-return:hover::before{ color: #444; background: #eee;}





@media screen and (min-width: 568.88px) {
}

p, li, dd, dt {
	line-height: 1.5em;
	max-width: 36em;
	margin-bottom: 0.7em;
}

div.wrap{
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}

div.wrap::after{
	content: "";
	display: table;
	clear: both;
}

/* @end */

/* @group header.banner */

header.banner{
	background: #f3f3f3;
	line-height: 64px;
	height: 48px;
	font-size: 16px;
	color: #555;
	margin-bottom: 1em;
}

header.banner a{
	color: inherit;
	text-decoration: none;
}

header.banner .logo {
	float: left;
	width: 48px;
	height: 48px;
	background: #18F;
	color: white;
	text-align: right;
	padding-right: 6px;
	font-size: 16px;
	margin-right: 12px;
}

@media screen and (min-width: 568.88px){
	header.banner{
		line-height: 96px;
		height: 72px;
		font-size: 24px;	}
	
	header.banner .logo{
		width: 72px;
		height: 72px;
		padding-right: 8px;
		font-size: 32px;
		margin-right: 24px;
	}

}

/* @end */

/* @group .page */

/* @group footnotes */

.page { counter-reset: footnotes; }

.page footer {
	border-top: 1px solid #333;
	padding-top: 8px;
	margin-top: 3em;
	margin-bottom: 2em;
	max-width: 36em;
}

.page footer :target { background: yellow; }

.page footer h1:first-child{ 
	font-family: Roboto Condensed; 
	font-weight: 600; 
	text-transform: uppercase;
	font-size: 16px;
	margin: 0 0 12px;
	color: #333;
}


.page footer li{
	position: relative;
	padding-right: 1.4em;
	padding-top: 8px;
	margin-bottom: 0;	
}

.page footer li,
.page footer li p{
	font-size: 14px;
	line-height: 1.4em;
}

.page footer li p:last-child{ margin-bottom: 0;}
.page footer a[aria-label]{
	position: absolute;
	right: 0;
	top: 10px;
	color: #555;
	text-decoration: none;
	background: #eee;
	width: 1.6em;
	height: 1.6em;
	font-size: 12px;
	line-height: 1.9em;
	text-align: center;
	border-radius: 100%;
}

.page a[aria-describedby="footnote-label"] {
  counter-increment: footnotes;
  text-decoration: none;
  color: inherit;
  cursor: default;
  outline: none;
}

.page a[aria-describedby="footnote-label"]::after {
  content: counter(footnotes);
  font-size: 0.8em;
  margin-left: 0.1em;
  color: #888;
  cursor: pointer;
  margin-right: -0.1em;
  position: relative;
  top: -0.4em;
  z-index: 1;
}

/* @end */

.page { padding-top: 1em; }

.page h1.page-title {
	font-family: Roboto;
	font-size: 32px;
	line-height: 36px;
	margin-top: 0;
	margin-bottom: 0.4em;
	color: inherit;
}

.page h1 {
	font-family: Playfair Display, PT Serif, georgia;
	font-size: 24px;
	line-height: 28px;
	font-weight: 600;
	margin-top: 1em;
	margin-bottom: 0.5em;
	color: #333;
}


main p.synopsis {
	font-family: PT Serif, georgia;
	font-size: 20px;
	line-height: 1.3em;
}

figure{
	margin-top: 2.4em;
	margin-bottom: 2em;
}

figcaption p{
	font-size: 14px;
	line-height: 1.33em;
}

figure img{
	width: 100%;
	margin-bottom: 0.4em;
	
}

main ol {
	margin-top: 0.7em;
	list-style-type: decimal;
	margin-left: 1.4em;
}

.page .h-card {
	padding-left: 72px;	
	min-height: 72px;
	position: relative;
	line-height: 1.33em;
	font-size: 14px;
	margin-top: 2em;
}

.page .h-card img{
	width: 64px;
	border-radius: 4px;
	position: absolute;
	left: 0;
	top: 0;	
}

.page .h-card .p-name{ font-weight: 700;}
.page .h-card a{ color: #666; }

ol.table-of-contents{
	list-style-type: none;
	margin: 2em 0 2.8em;
	counter-reset: step;
	padding-left: 4px;
	border-left: 2px solid #eee;
	margin-left: 1em;
}

ol.table-of-contents li{
	padding: 1em 0.4em;
	counter-increment: step;
	position: relative;
}

ol.table-of-contents li:last-child{ padding-bottom: 0;}

ol.table-of-contents li::before{
	content: counter(step);
	display: block;
	background: #555;
	font-size: 14px;
	color: white;
	padding: 0.1em 0.6em 0;
	width: 24px;
	position: absolute;
	left: -16px;
	top: -1em;
	text-align: center;
}

.page ul{
	list-style-type: disc;
	margin-left: 1.1em;
}

body.welcome ol ol { list-style-type: lower-latin; margin-bottom: 1.2em;}

@media screen and (min-width: 568.88px){

main h1.page-title{ margin-bottom: 0.4em; }
main p.synopsis { line-height: 1.45em; }

ol.table-of-contents{
	margin-top: 2.4em;
	padding: 0;
	margin-left: 0;
	margin-bottom: 1.5em;
	border: 0;
	border-top: 2px solid #f3f3f3;
}


ol.table-of-contents li::before{
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	width: 36px;
	padding-top: 4px;
	padding-bottom: 12px;
	background: #f3f3f3;
	color: #555;
	font-family: Playfair Display, PT Serif;
	font-size: 24px;
	text-indent: -0.05em;
}

ol.table-of-contents::after{
	content: "";
	display: table;
	clear: both;
}

  ol.table-of-contents li{	
		float: left;
		width: 30%;
		padding: 0.4em;
		padding-left: 48px;
		margin-right: 5%;
		margin-left: 0;
		line-height: 1.33em;
  }

  ol.table-of-contents li:last-child{
	margin-right: 0;
  }

	main { font-size: 18px; }
	main h1 { font-size: 28px; }
	main h1.page-title { 
		font-size: 36px; 
		margin-bottom: 0.5em;
	}
	main p.synopsis { font-size: 24px; }
	
	figure{
		width: 100%;
		max-width: 36em;
		box-sizing: border-box;
		padding-right: 12em;
		margin-right: -12em;
		position: relative;
	}
	
	figcaption{
		width: 11em;
		padding-left: 1em;
		position: absolute;
		top: 50%;
		margin-top: -4em;
		right: 0;
	}


main .h-card {
	padding-left: 112px;	
	min-height: 112px;
	position: relative;
	line-height: 1.33em;
	font-size: 16px;
	padding-top: 4px;
}

main .h-card img{
	width: 96px;
	border-radius: 4px;
	position: absolute;
	left: 0;
	top: 0;	
}


}



/* @end */

/* @group forms */

/* @group summary.error-message */

summary.error-message{
	background: #990017;
	color: white;
	padding: 8px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 24px;
	margin-top: -8px;
}

summary.error-message details{ margin-top: 8px; }
summary.error-message details p:first-of-type{ margin-top: 8px; }
summary.error-message details ol{
	list-style-type: decimal;
	margin: 0 0 0 1.4em;
	padding-top: 0;
}

summary.error-message details ol li{
	margin-bottom: 6px;
}

/* @end */

legend {
  padding: 0;
  display: table;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

input[type=tel],
input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
select,
textarea{
	-webkit-appearance: none;
	padding: 4px 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	line-height: 36px;
	min-height: 36px;
	min-width: 4em;
	width: 100%;
	margin: 0;
	outline: none;
	font: inherit;
}

input[type=radio],
input[type=checkbox]{ 
	outline: none; 
	border: none;
}

.field-select select{
	min-width: 0; 
	background: none;
	padding-right: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.field-select span.label-select{ 
	position: relative; 
	width: 15%;
	display: block;
}

.field-select{ position: relative; }

.field-select::after{
	content: "";
	border: 6px solid black;
	position: absolute;
	right: 20px;
	bottom: 50%;
	margin-bottom: 2px;
	border-color: #aaa transparent transparent transparent;
	z-index: -1;
}

.field-select:hover select{ border-color: #aaa; }
.field-select:hover::after{ border-top-color: #888; }

textarea{
	display: block;
	width: 100%;
	max-width: 40em;
	min-height: 6em;
	line-height: 1.25;
	color: #333;
}

button,
.button {
	background: none;
	border: 1px solid;
	color: #008c52;
	font: inherit;
	padding: 10px 12px;
	margin: 0;
	line-height: 16px;	
	cursor: pointer;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
}

button:hover {
	background: #00834d;
	border-color: #00834d;
	color: white;
	box-shadow: 0 1px 0 #f3f3f3;
}

button:active {
	color: #7aa79d;
	background: #006e52;
	border-color: #006e52;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
}

form a.a-return + h1{
	margin-top: 1em !important;	
}


fieldset > p{
	font-size: 14px;
	line-height: 1.4;
	color: #444;
	margin-top: 0;
	margin-bottom: 1em;
}

.description-text,
.p-description-text{
	margin-top: 8px;
	font-size: 12px;
	line-height: 1.3;
	max-width: 28em;
	display: block;
	color: #333;
}

.description-text a{ color: inherit; }
.description-text a:hover{ text-decoration: none; }

div.field,
fieldset{ margin-bottom: 24px; }
fieldset.fieldset-radio{ margin-bottom: 18px; }

fieldset.fieldset-parties-requesting-agency,
fieldset.fieldset-parties-servicing-agency,
fieldset.fieldset-agency-official-requesting-agency,
fieldset.fieldset-agency-official-servicing-agency,
fieldset.fieldset-program-official,
fieldset.fieldset-additional-point-of-contact,
fieldset.fieldset-corporate-official,
fieldset.fieldset-funding-official,
fieldset.fieldset-requesting-agency,
fieldset.fieldset-servicing-agency,
fieldset.fieldset-component-tas,
fieldset.fieldset-reimbursable-line-costs,
fieldset.fieldset-assisted-acquisition-line-costs,
fieldset.fieldset-point-of-contact{
	border: 1px solid #cfcfcf;
	padding: 16px;
	padding-bottom: 19px;
	position: relative;
	margin-top: 36px;
	margin-bottom: 32px;
	border-radius: 4px;
}

fieldset.fieldset-program-official div.field:last-of-type,
fieldset.fieldset-additional-point-of-contact div.field:last-of-type,
fieldset.fieldset-corporate-official div.field:last-of-type{
	margin-bottom: 4px;
}

fieldset.fieldset-corporate-official{ margin-bottom: 24px; }

fieldset.fieldset-parties-requesting-agency > legend,
fieldset.fieldset-parties-servicing-agency > legend,
fieldset.fieldset-agency-official-requesting-agency > legend,
fieldset.fieldset-agency-official-servicing-agency > legend,
fieldset.fieldset-program-official > legend,
fieldset.fieldset-corporate-official > legend,
fieldset.fieldset-additional-point-of-contact > legend,
fieldset.fieldset-funding-official > legend,
fieldset.fieldset-requesting-agency > legend,
fieldset.fieldset-servicing-agency > legend,
fieldset.fieldset-component-tas > legend,
fieldset.fieldset-reimbursable-line-costs > legend,
fieldset.fieldset-assisted-acquisition-line-costs > legend,
fieldset.fieldset-point-of-contact > legend,
fieldset > header > h1{
	position: absolute;
	background: white;
	margin: 0 0 -3px;
	bottom: 100%;
	left: 8px;
	padding: 0 1px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	color: #777;
}

fieldset div.field:last-of-type+fieldset{
	margin-top: 24px;
	margin-bottom: 4px;
}

.fieldset.fieldset-labor-related-costs,
.fieldset.fieldset-direct-material-costs,
.fieldset.fieldset-discretionary-technical-assistance,
.fieldset.fieldset-equivalent-work,
.fieldset.fieldset-equivalent-work .fieldset,
.fieldset.fieldset-radio{
	padding: 0;
	border: none;
}

.field-servicing-agency-tracking-number span.label-text,
.field-requesting-agencys-scope span.label-text,
.field-roles-and-responsibilities span.label-text,
.field-assisted-acquisition-small-business-credit-clause span.label-text,
.field-requesting-agencys-clauses span.label-text,
.field-servicing-agencys-clauses span.label-text,
.field-additional-agency-attachments span.label-text,
.field-disputes span.label-text,
.field-additional-agency-attachments span.label-text,
.fieldset-assisted-acquisition-agreement > legend,
.fieldset-gtc-action > legend,
.fieldset-recurring-agreement > legend,
.fieldset-agreement-type > legend,
.fieldset-advanced-payments > legend,
.fieldset-performance-period > legend,
.fieldset-accrual-per-work-completed-period > legend{ 
	position: absolute !important;
	left: -9999em;
}

fieldset > legend,
.field span.label-text{
	display: block;	
	max-width: 40em;
	margin: 0 0 8px;
	padding: 0;
	position: static;
	font: inherit;
	line-height: 20px;
}

.field.field-radio{ 
	display: inline-block; 
	vertical-align: middle;
	margin-bottom: 6px;
}

.field.field-radio label{
	display: inline-block;
	padding: 0 12px 4px 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
	min-height: 32px;
	line-height: 32px;
	vertical-align: middle;
}

.field input:focus,
.field select:focus,
.field textarea:focus,
.field.field-checkbox.is-focused label,
.field.field-radio.is-focused label{
	border-color: #1188ff;
	box-shadow: 0 0 0 1px rgba(17,136,255,0.15);
	outline: none;
}



main div.field-select.is-focused::after{
	border-top-color: #1188ff;

}

div.field.field-checkbox span.label-text,
div.field.field-radio span.label-text,
div.field.field-radio input{ 
	display: inline; 
	vertical-align: middle;
}

div.field.field-checkbox{
	position: relative;
	padding-left: 24px;
	margin-bottom: 8px;
}

div.field.field-checkbox input{ 
	font-size: 1em;	
	line-height: 1;
	position: absolute;
	left: 0;
	top: 0;
}

div.field.field-checkbox+div.field.field-checkbox{ margin-top: 4px; }

div.field.field-checkbox+.is-branch{
	margin-top: -4px !important;
	margin-left: 3px;
	margin-bottom: 16px;
}

div.field.is-error input,
div.field.is-error textarea{
	background: #fff7f4;
	background: repeating-linear-gradient(
    45deg,
    #fff4f2,
    #fff4f2 10px,
    #fff7f4 10px,
    #fff7f4 20px
  );
	border-color: #ce6246;
}

div.field.is-error span.error-message,
fieldset.fieldset-radio.is-error span.error-message{
	color: #990017;	
	display: block;
}

div.field.is-error span.error-message,
fieldset.fieldset-radio.is-error span.error-message{
	color: #af1830;	
	font-size: 14px;
	padding-top: 6px;
	display: block;
	font-style: italic;	
}

@media screen and (min-width: 533.33px) {

	fieldset.fieldset-date-range::after{
		content: "";
		display: table;
		clear: both;		
	}	
		
	fieldset.fieldset-date-range div.field{
		padding-bottom: 1.4em;
		position: relative;
		width: 50%;
		float: left;
		margin-bottom: 0;
	}
	
	fieldset.fieldset-date-range span.label-text{
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0;
		font-size: 12px;
	}

}


fieldset.fieldset-mailing-address div.field{
	padding-bottom: 1.4em;
	position: relative;
}

fieldset.fieldset-mailing-address div.field span.label-text{
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	font-size: 12px;
}

fieldset.fieldset-mailing-address div.field-city-state-zip::after{
	content: "";
	display: table;
	clear: both;
}

fieldset.fieldset-mailing-address div.field-city-state-zip{
	margin-right: -0.7em;
	margin-bottom: 0;
}

fieldset.fieldset-mailing-address div.field.field-city,
fieldset.fieldset-mailing-address div.field.field-state,
fieldset.fieldset-mailing-address div.field.field-zip{
	float: left;
	width: 25%;
	padding-right: 0.67em; 
	margin-bottom: 0;
}

fieldset.fieldset-mailing-address div.field.field-city{ 
	width: 50%; 
}

fieldset.fieldset-mailing-address div.field.field-city input,
fieldset.fieldset-mailing-address div.field.field-state input,
fieldset.fieldset-mailing-address div.field.field-zip input{
	min-width: 0;
}

/* @group widths */

@media screen and (min-width: 533.33px){
	.field-telephone-number input,
	.field-email-address input,
	.field-additional-classification input{
	  width: 50%;
	  min-width: 10em;
	}
	
	.field-project-number input,
	.field-phone-number input,
	.field-telephone-number input,
	.field-fax-number input,
	.field-date input,
	.field-direct-cost input,
	.field-overhead-fees input,
	.field-total-estimated-amount input,
	.field-expiry-date input,
	.field-cancellation-date input,
	.field-alc input,
	.field-component-tas input,
	.field-betc input,
	.field-object-class-code input,
	.field-sp input,
	.field-ata input,
	.field-aid input,
	.field-bpoa input,
	.field-a input,
	.field-main input,
	.field-sub input,
	.field-bpn input,
	.field-bpn-4 input,
	.field-servicing-agency-tracking-number input,
	.field-total-net-order-amount input{
		width: 10em;
	}

}

/* @end */

.section-form .branch{
	padding: 0 0 0 12px;
	position: relative;
}

.section-form .fieldset-radio+.branch,
.section-form .fieldset-radio+.branch+.branch{
	margin-top: 12px;
}

.branch > h1.branch-logic,
.branch > header > h1.branch-logic{
	text-transform: uppercase;
	font: 13px Courier, mono !important;
	font-weight: 600 !important;
	padding: 4px;
	background: #eee;
	display: inline-block;
	color: #ed2766 !important;
	border-radius: 2px;
	border: 1px solid #ccc;
	margin-top: 16px;
	margin-bottom: 8px !important;
}

body.branches .branch h1.branch-logic,
body.branches .branch > header > h1.branch-logic{ display: none; }

.section-form .branch::after{
	position: absolute;
	left: 0;
	top: 0;
	bottom: -1px;
	width: 3px;
	border-radius: 2px;
	content: "";
	background: #ccc;
}

main div.wrap > form { max-width: 576px; }

@media screen and (min-width: 640px) {
	main div.wrap > form {
		padding-right: 16px;
		border-right: 1px solid #eee;
	}	
	
}


main form footer{ 
	margin-top: 32px; 
	padding-bottom: 64px;
	position: relative;
}

main form footer a{
	position: absolute;
	right: 0;
	top: 12px;
}

main form footer a:hover{ color: #333; }
main form footer p{
	clear: both;
	font-family: Georgia;
	font-style: italic;
	color: #888;
	background: #f3f3f3;
	padding: 12px;
	max-width: none;
	margin-top: 24px;
	font-size: 14px;
}
main form footer p button{
	display: inline;
	float: none;
	padding: 4px 8px;
	color: #555;
	background: white;
	border: 2px solid #ccc;
	font-family: Helvetica;
	font-style: normal;
	margin-left: 0.2em;
 }


/* @end */

/* @group tablesaw */

/*! Tablesaw - v1.0.4 - 2015-02-19
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2015 Filament Group; Licensed MIT */

table.tablesaw {
  empty-cells: show;
  max-width: 100%;
  width: 100%;
}

.tablesaw {
  border-collapse: collapse;
  width: 100%;
}

/* Structure */

.tablesaw {
  border: 0;
  padding: 0;
}

.tablesaw th,
.tablesaw td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tablesaw th,
.tablesaw td {
  line-height: 1em;
  vertical-align: middle;
}

.tablesaw td,
.tablesaw tbody th {
  vertical-align: middle;
}


/* Stack */

.tablesaw-stack td .tablesaw-cell-label,
.tablesaw-stack th .tablesaw-cell-label {
  display: none;
}

@media only all {
  /* Show the table cells as a block level element */

  .tablesaw-stack td,
  .tablesaw-stack th {
    text-align: left;
    display: block;
  }

  .tablesaw-stack td{ margin-bottom: 24px;   }

  /* Make the label elements a percentage width */

  .tablesaw-stack td .tablesaw-cell-label,
  .tablesaw-stack th .tablesaw-cell-label {
    display: block;
    line-height: 1.2;
  }

  .tablesaw-cell-label {
	display: block;	
	max-width: 40em;
	margin: 0 0 8px;
	padding: 0;
	position: static;
	font: inherit;
	line-height: 20px;
  }


}

@media (max-width: 39.9375em) {
	
table.table-funding-modification-summary-by-line tbody{ counter-reset: modification; }

  .tablesaw-stack thead td,
  .tablesaw-stack thead th {
    display: none;
  }

  .tablesaw-cell-label {
    vertical-align: top;
  }

  .tablesaw-stack td:empty,
  .tablesaw-stack th:empty {
    display: none;
  }
  
  .tablesaw-stack tbody tr{ 
	counter-increment: modification; 
	border: 1px solid #cfcfcf;
	padding: 16px;
	padding-bottom: 19px;
	position: relative;
	margin-top: 36px;
	border-radius: 4px;
	display: block;
  }
  
  .tablesaw-stack tbody tr:last-child{
	margin-bottom: 32px; 
  }

.tablesaw-stack tbody tr::before,
.tablesaw-stack tfoot tr:first-child th span.tablesaw-cell-content{
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	color: #777;	
	display: block;
}

.tablesaw-stack tbody tr::before{
	content: "Modification " counter(modification);
	position: absolute;
	background: white;
	margin: 0 0 -3px;
	bottom: 100%;
	left: 8px;
	padding: 0 1px;
}

.tablesaw-stack tfoot td{
	max-width: 40em;
	margin: 0 0 8px;
	padding: 0;
	position: static;
	font: inherit;
	line-height: 20px;
}

.tablesaw-stack tfoot tr:first-child th span.tablesaw-cell-content{
	margin-bottom: 16px;
}

.tablesaw-stack tfoot tr:first-child th:first-child b.tablesaw-cell-label{
	display: none;
}

}

/* Media query to show as a standard table at 560px (35em x 16px) or wider */

@media (min-width: 40em) {

table.table-funding-modification-summary-by-line thead th,
table.table-funding-modification-summary-by-line tfoot th,
table.table-funding-modification-summary-by-line tfoot td{ 
	padding: 4px; 
	font-size: 12px;
	line-height: 1.33;
}

table.table-funding-modification-summary-by-line thead{
	background: #555;
	color: white;
}


  .tablesaw-stack tr {
    display: table-row;
  }

  /* Show the table header rows */

  .tablesaw-stack td,
  .tablesaw-stack th,
  .tablesaw-stack thead td,
  .tablesaw-stack thead th,
  .tablesaw-stack tfoot td,
  .tablesaw-stack tfoot th {
    display: table-cell;
    margin: 0;
  }
  
  .tablesaw-stack tfoot td,
  .tablesaw-stack tfoot th {
	background: #eee;
	color: #555;
	border-top: 1px solid #e3e3e3;
  }

  .tablesaw-stack td{
	line-height: 16px;
	height: 16px;
	padding: 0;
	border: none;
  }
  
  .tablesaw-stack td input{
	border-radius: 0;
	font-size: 12px;
	line-height: 16px;
	min-height: 24px;
	padding: 2px;
	border-color: #e3e3e3;
	box-shadow: none;
  }
  
  .tablesaw-stack thead tr th:first-child{ border-top-left-radius: 2px; }
  .tablesaw-stack thead tr th:last-child{ border-top-right-radius: 2px; }

  .tablesaw-stack tfoot tr th:first-child{ border-bottom-left-radius: 2px; }
  .tablesaw-stack tfoot tr td:last-child{ border-bottom-right-radius: 2px; }



  /* Hide the labels in each cell */
  .tablesaw-stack td .tablesaw-cell-label,
  .tablesaw-stack th .tablesaw-cell-label {
    display: none !important;
  }
}

/* @end */



/* @group header.banner */

header.banner{
	background: #f3f3f3;
	line-height: 64px;
	height: 48px;
	font-size: 16px;
	color: #888;
}

header.banner a{
	color: inherit;
	text-decoration: none;
}

header.banner .logo {
	float: left;
	width: 48px;
	height: 48px;
	background: #18F;
	color: white;
	text-align: right;
	padding-right: 6px;
	font-size: 16px;
	margin-right: 12px;
}

@media screen and (min-width: 568.88px){
	header.banner{
		line-height: 112px;
		height: 96px;
		font-size: 24px;
		color: #888;
	}
	
	header.banner .logo{
		width: 96px;
		height: 96px;
		padding-right: 8px;
		font-size: 32px;
		margin-right: 24px;
	}

}

/* @end */

main form{ 
	padding-bottom: 64px; 
	padding-top: 32px;
}

main form > header h1{
	font-size: 32px;
	margin-bottom: 16px;
}

main form > header p:last-of-type{ margin-bottom: 48px; }

div.field-iaa-number span.label-text,
div.field-iaa-number input[type=text]{
	display: inline-block;
	width: 7em;
	min-width: 0;
	vertical-align: middle;
	margin-bottom: 0;
	font-size: 12px;
	min-height: 18px;
}

div.field-iaa-number input[type=text]{
	background: #f3f3f3;
	color: #666;
}

@media screen and (min-width: 853.33px) {	
	div.field-iaa-number{
		position: absolute;
		right: 0;
		top: 32px;
	}
}

/* @group section.section-form */

section.section-form{
	border-top: 2px solid #e3e3e3;
	padding-top: 18px;
	padding-left: 48px;
	padding-bottom: 36px;
	counter-increment: section;
	position: relative;
}

section.section-form:first-of-type{ counter-reset: section; }
form.form-7600b section.section-form:first-of-type{ counter-reset: section 23; }

section.section-form::before{
	content: counter(section);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background: #fafafa;
	width: 32px;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	padding-top: 20px;
	color: #aaa;
}

section.section-form h1 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	margin-bottom: 20px;
	color: #555;
}

section.section-form header+fieldset { margin-top: 36px; }
section.section-form header+fieldset.fieldset-radio { margin-top: 24px; }

/* @end */

/* @group 7600A, 7600B */


/* @group block 1 */

fieldset.fieldset-parties-servicing-agency { margin-bottom: 0; }

/* @end */


/* @group block 2 */

div.field-servicing-agency-tracking-number { margin-bottom: 0; }

/* @end */

/* @group block 3 */

fieldset.fieldset-assisted-acquisition-agreement { margin-bottom: -6px; }

/* @end */

/* @group block 4 */

.section-gtc-action fieldset.fieldset-gtc-action{
	margin-bottom: -6px;
}

.section-gtc-action .branch p{
	font-size: 14px;
	line-height: 1.4;
	color: #444;
	margin-top: 0;
	margin-bottom: 1em;
}

.section-gtc-action .branch .field{ margin-bottom: 0; }
.section-gtc-action .branch span.label-text{
	position: absolute;
	left: -9999em;
}

/* @end */

/* @group block 5 */

.section-agreement-period fieldset{
	margin-bottom: 0;
}

.section-agreement-period fieldset legend{
	position: absolute;
	left: -9999em;
}

/* @end */


/* @group block 6 */

.section-recurring-agreement fieldset{ margin-bottom: -6px; }

/* @end */

/* @group block 7 */

.section-agreement-type fieldset{ margin-bottom: -6px; }

/* @end */

/* @group block 8 */

.section-advance-payments fieldset{ margin-bottom: -6px; }
.section-advance-payments .branch .field{ margin-bottom: 0; }

/* @end */

/* @group block 9 */

.section-estimated-agreement-amount .field-overhead-fees-explanation{ margin-bottom: 0; }

/* @end */

/* @group block 10 */

.section-statutory-authority fieldset.fieldset-servicing-agencys-statutory-authority{ margin-bottom: -6px; }

.section-statutory-authority fieldset.fieldset-requesting-agencys-statutory-authority+.branch{
	margin-top: -12px;
}
.section-statutory-authority fieldset.fieldset-servicing-agencys-statutory-authority+.branch{
	margin-top: 12px;
}

.section-statutory-authority fieldset.fieldset-requesting-agencys-statutory-authority+.branch,
.section-statutory-authority fieldset.fieldset-servicing-agencys-statutory-authority+.branch .field{
	margin-bottom: 0;
}

/* @end */


/* @group block 11 */

.section-requesting-agencys-scope .field{ margin-bottom: 0; }

/* @end */

/* @group block 12 */

.section-roles-and-responsibilities .field{ margin-bottom: 0; }

/* @end */

/* @group block 13 */

.section-restrictions .field{ margin-bottom: 0; }

/* @end */

/* @group block 14 */

.section-assisted-acquisition-small-business-credit-clause .field{ margin-bottom: 0; }

/* @end */

/* @group block 15 */

.section-disputes .field{ margin-bottom: 0; }

/* @end */

/* @group block 16 */

.section-termination .field-termination-additional-terms{ margin-bottom: 0; }

/* @end */

/* @group block 17 */

.section-requesting-agencys-organizations .field{ margin-bottom: 0; }

/* @end */

/* @group block 18 */

.section-servicing-agencys-organizations .field{ margin-bottom: 0; }

/* @end */

/* @group block 19 */

.section-requesting-agencys-clauses .field{ margin-bottom: 0; }

/* @end */

/* @group block 20 */

.section-servicing-agencys-clauses .field{ margin-bottom: 0; }

/* @end */

/* @group block 21 */

.section-additional-agency-attachments .field{ margin-bottom: 0; }

/* @end */


/* @group block 25 */

.section-order-action fieldset{ margin-bottom: 0; }

.section-order-action .branch .field-explanation .label-text{
	position: absolute;
	left: -9999em;
}

/* @end */


/* @group block 26 */

@media screen and (min-width: 888.88px){
	section.section-funding-modification-summary-by-line{
		margin-right: -256px;
		background: white;		
	}	
}

/* @end */

/* @group block 27 */

fieldset.fieldset-performance-period.fieldset-date-range { 
	margin-top: 4px; 
	margin-bottom: 0;
}
fieldset.fieldset-performance-period .field:last-of-type{ margin-bottom: 0; }

/* @end */



/* @group block 28 */

.section-funding-information .fieldset-requesting-agency .field-cancellation-date,
.section-funding-information .fieldset-servicing-agency .field-additional-accounting-classification{ 
	margin-bottom: 0;
}
.section-funding-information .fieldset-type-of-service-requirements{ margin-bottom: -6px; }

/* @end */

/* @group block 29 */

.section-advance-information .fieldset-revenue-recognition-methodology{ margin-bottom: -6px; }

/* @end */


/* @group block 30 */

section.section-total-net-order-amount div.field span.label-text{ 
	position: absolute;
	left: -9999em;
}

section.section-total-net-order-amount div.field{ margin-bottom: 0; }

/* @end */

/* @group block 31 */

section.section-attachments div.field span.label-text{ 
	position: absolute;
	left: -9999em;
}

section.section-attachments div.field .description-text{ 
	font: inherit;
	line-height: 1.3em;
	margin-bottom: 12px;
}

section.section-attachments div.field{ margin-bottom: 0; }

/* @end */

/* @group block 32 */

section.section-payment-method legend{ 
	position: absolute;
	left: -9999em;
}

fieldset.fieldset-payment-method{ 
	margin-top: 0; 
	margin-bottom: -6px; 
}

/* @end */

/* @group block 33 */

fieldset.fieldset-billing-frequency{ 
	margin-top: 0;
	margin-bottom: -6px; 
}

fieldset.fieldset-billing-frequency legend{ 
	position: absolute;
	left: -9999em;
}

/* @end */

/* @group block 34 */

fieldset.fieldset-payment-terms{ 
	margin-top: 0;
	margin-bottom: -6px; 
}

fieldset.fieldset-payment-terms legend{ 
	position: absolute;
	left: -9999em;
}

/* @end */

/* @group block 35 */

div.field-funding-clauses{ margin-bottom: 0; }
div.field-funding-clauses span.label-text{ 
	position: absolute;
	left: -9999em;
}

/* @end */

/* @group block 36 */

.section-delivery-information-for-products .fieldset-point-of-contact,
.section-delivery-information-for-products .fieldset-point-of-contact .field-email-address{ margin-bottom: 0; }

/* @end */

/* @group block 37 */

.section-program-officials .fieldset-servicing-agency,
.section-program-officials .fieldset-servicing-agency .field-email-address,
.section-program-officials .fieldset-requesting-agency .field-email-address{ margin-bottom: 0; }

/* @end */

/* @group block 38 */

.section-funding-officials .fieldset-servicing-agency,
.section-funding-officials .fieldset-servicing-agency .field-email-address,
.section-funding-officials .fieldset-requesting-agency .field-email-address{ margin-bottom: 0; }

/* @end */



/* @end */