<template name='form_7600a'>
  {{#with formValues}}
  <a href="/7600a/{{ _id }}/pdf">Download PDF</a>
  <h4>Last updated: {{ updatedAt }}</h4>
  <form class="form-7600a" novalidate>
    <header>
      <h1>7600A</h1>
      <div class="field field-iaa-number">
        <label for="iaa-number">
          <span class="label-text"><abbr title="interagency agreement">IAA</abbr> number</span>
          <input required name="iaa-number" id="iaa-number" value="18F-4A" type="text">
        </label>
      </div>
    </header>
    <input type="hidden" name="formId" value={{ _id }} />
    <section class="section-form section-parties">
      <header>
        <h1>Parties</h1>
      </header>
      <fieldset class="fieldset-parties-requesting-agency">
        <legend>Requesting agency</legend>
        <div class="field field-name">
          <label for="parties-requesting-agency-name">
            <span class="label-text">Name</span>
            <input required name="parties-requesting-agency-name" id="parties-requesting-agency-name" type="text" value="{{d 'parties-requesting-agency-name'}}">
          </label>
        </div>
        <fieldset class="fieldset-mailing-address">
          <legend>Mailing address</legend>
          <div class="field field-street-address">
            <label for="parties-requesting-agency-mailing-address-street-address">
              <span class="label-text">Street address</span>
              <input required name="parties-requesting-agency-mailing-address-street-address" id="parties-requesting-agency-mailing-address-street-address" type="text" value="{{d 'parties-requesting-agency-mailing-address-street-address'}}">
            </label>
          </div>
          <div class="field-city-state-zip">
          <div class="field field-city">
            <label for="parties-requesting-agency-mailing-address-city">
              <span class="label-text">City</span>
              <input required name="parties-requesting-agency-mailing-address-city" id="parties-requesting-agency-mailing-address-city" value="{{d 'parties-requesting-agency-mailing-address-city'}}" type="text">
            </label>
          </div>
          <div class="field field-state field-select">
            <label for="parties-requesting-agency-mailing-address-state">
              <span class="label-text">State</span>
              <select name="parties-requesting-agency-mailing-address-state" id="parties-requesting-agency-mailing-address-state" type="text">
                {{#each usStates}}
                  <option value="{{abbrev}}" {{isStateSelected 'parties-requesting-agency-mailing-address-state' abbrev}}>{{name}}</option>
                {{/each}}
              </select>
            </label>
          </div>
          <div class="field field-zip">
            <label for="parties-requesting-agency-mailing-address-zip">
              <span class="label-text">Zip</span>
              <input required name="parties-requesting-agency-mailing-address-zip" id="parties-requesting-agency-mailing-address-zip" type="text" values="{{d 'parties-requesting-agency-mailing-address-zip'}}">
            </label>
          </div>
          </div>
        </fieldset>
      </fieldset>
      <fieldset class="fieldset-parties-servicing-agency">
        <legend>Servicing agency</legend>
        <div class="field field-name">
          <label for="parties-servicing-agency-name">
            <span class="label-text">Name</span>
            <input required name="parties-servicing-agency-name" id="parties-servicing-agency-name" type="text" value="{{d 'parties-servicing-agency-name'}}">
          </label>
        </div>
        <fieldset class="fieldset-mailing-address">
          <legend>Mailing address</legend>
          <div class="field field-street-address">
            <label for="parties-servicing-agency-mailing-address-street-address">
              <span class="label-text">Street address</span>
              <input required name="parties-servicing-agency-mailing-address-street-address" id="parties-servicing-agency-mailing-address-street-address" type="text" value="{{d 'parties-servicing-agency-mailing-address-street-address'}}">
            </label>
          </div>
          <div class="field-city-state-zip">
            <div class="field field-city">
              <label for="parties-servicing-agency-mailing-address-city">
                <span class="label-text">City</span>
                <input required name="parties-servicing-agency-mailing-address-city" id="parties-servicing-agency-mailing-address-city" type="text" value="{{d 'parties-servicing-agency-mailing-address-city'}}" >
              </label>
            </div>
            <div class="field field-state field-select">
              <label for="parties-servicing-agency-mailing-address-state">
                <span class="label-text">State</span>
                <select name="parties-servicing-agency-mailing-address-state" id="parties-servicing-agency-mailing-address-state" type="text">
                  {{#each usStates}}
                    <option value="{{abbrev}}" {{isStateSelected 'parties-servicing-agency-mailing-address-state' abbrev}}>{{name}}</option>
                  {{/each}}
                </select>
              </label>
            </div>
            <div class="field field-zip">
              <label for="parties-servicing-agency-mailing-address-zip">
                <span class="label-text">Zip</span>
                <input required name="parties-servicing-agency-mailing-address-zip" id="parties-servicing-agency-mailing-address-zip" type="text" value="{{d 'parties-servicing-agency-mailing-address-zip'}}">
              </label>
            </div>
          </div>
        </fieldset>
      </fieldset>
    </section>
    <section class="section-form section-servicing-agency-tracking-number">
      <header>
        <h1>Servicing agency tracking number (optional)</h1>
      </header>
      <div class="field field-servicing-agency-tracking-number">
        <label for="office-name">
          <span class="label-text">Servicing agency tracking number (optional)</span>
          <input required name="servicing-agency-tracking-number" id="servicing-agency-tracking-number" type="text" value="{{d 'servicing-agency-tracking-number'}}">
        </label>
      </div>
    </section>
    <section class="section-form section-assisted-acquisition-agreement">
      <header>
        <h1>Assisted acquisition agreement</h1>
      </header>
      <fieldset class="fieldset-assisted-acquisition-agreement fieldset-radio" data-branch-name="assisted-acquisition-agreement">
        <legend>Is this agreement part of an assisted acquision agreement?</legend>
        <div class="field field-radio">
          <label for="assisted-acquisition-agreement-yes">
            <input required name="assisted-acquisition-agreement" id="assisted-acquisition-agreement-yes" type="radio" value="yes" {{isRadioChecked 'assisted-acquisition-agreement' 'yes'}}>
            <span class="label-text">Yes</span>
          </label>
        </div>
        <div class="field field-radio">
          <label for="assisted-acquisition-agreement-no">
            <input required name="assisted-acquisition-agreement" id="assisted-acquisition-agreement-no" type="radio" value="no" {{isRadioChecked 'assisted-acquisition-agreement' 'no'}}>
            <span class="label-text">No</span>
          </label>
        </div>
      </fieldset>
    </section>
    <section class="section-form section-gtc-action">
      <header>
        <h1>GT&amp;C action</h1>
      </header>
      <fieldset class="fieldset-gtc-action fieldset-radio" data-branch-name="gtc-action">
        <legend>What action will you execute by filing this document?</legend>
        <div class="field field-radio">
          <label for="gtc-action-new">
            <input required 
                   name="gtc-action" 
                   id="gtc-action-new" 
                   type="radio"
                   value="new"
                   {{isRadioChecked 'gtc-action' 'new'}}>
            <span class="label-text">New</span>
          </label>
        </div>
        <div class="field field-radio">
          <label for="gtc-action-amendment">
            <input required 
                   name="gtc-action" 
                   id="gtc-action-amendment" 
                   type="radio" 
                   value="amendment"
                   {{isRadioChecked 'gtc-action' 'amendment'}}>
            <span class="label-text">Amendment</span>
          </label>
        </div>
        <div class="field field-radio">
          <label for="gtc-action-cancellation">
            <input required 
                   name="gtc-action" 
                   id="gtc-action-cancellation" 
                   type="radio" 
                   value="cancellation"
                   {{isRadioChecked 'gtc-action' 'cancellation'}}>
            <span class="label-text">Cancellation</span>
          </label>
        </div>
      </fieldset>
      <aside class="branch" data-branch-name="gtc-action" data-branch-value="amendment">
        <h1 class="branch-logic">If amendment</h1>
        <p class="description-text">Complete only the GT&amp;C blocks being changed and explain the changes being made.</p>
        <div class="field">
          <label for="gtc-action-amendment-explanation">
            <span class="label-text">Explanation</span>
            <textarea name="gtc-action-amendment-explanation" id="gtc-action-amendment-explanation"></textarea>
          </label>
        </div>   
      </aside>           
      <aside class="branch" data-branch-name="gtc-action" data-branch-value="cancellation">
        <h1 class="branch-logic">If cancellation</h1>
        <p class="description-text">Provide a brief explanation for the cancellation and complete the effective end date in block 5.</p>
        <div class="field">
          <label for="gtc-action-cancellation-explanation">
            <span class="label-text">Explanation</span>
            <textarea name="gtc-action-cancellation-explanation" id="gtc-action-cancellation-explanation">{{d 'gtc-action-cancellation-explanation'}}</textarea>
          </label>
        </div>              
      </aside>
    </section>
    <section class="section-form section-agreement-period">
      <h1>Agreement period</h1>
      <fieldset class="fieldset-agreement-period fieldset-date-range">
        <legend>Agreement period</legend>
        <div class="field field-date field-start-date field-agreement-period-start-date">
          <label for="agreement-period-start-date">
            <span class="label-text">Start date</span>
            <input type="date" id="agreement-period-start-date" name="agreement-period-start-date" value="{{d 'agreement-period-start-date'}}"> 
          </label>
        </div>
        <div class="field field-date field-end-date field-agreement-period-end-date">
          <label for="agreement-period-end-date">
            <span class="label-text">End date</span>
            <input type="date" id="agreement-period-end-date" name="agreement-period-end-date" value="{{d 'agreement-period-end-date'}}">
          </label>
        </div>
      </fieldset>
    </section>
    <section class="section-form section-recurring-agreement">
      <header>
        <h1>Recurring agreement</h1>
      </header>
      <fieldset class="fieldset-recurring-agreement fieldset-radio" data-branch-name="recurring-agreement">
        <legend>Is this a recurring agreement?</legend>
        <div class="field field-radio">
          <label for="recurring-agreement-yes">
            <input required 
                   name="recurring-agreement" 
                   id="recurring-agreement-yes" 
                   type="radio"
                   value="yes"
                   {{isRadioChecked 'recurring-agreement' 'yes'}}>
            <span class="label-text">Yes</span>
          </label>
        </div>
        <div class="field field-radio">
          <label for="recurring-agreement-no">
            <input required 
                   name="recurring-agreement" 
                   id="recurring-agreement-no" 
                   type="radio"
                   value="no"
                   {{isRadioChecked 'recurring-agreement' 'no'}}>
            <span class="label-text">No</span>
          </label>
        </div>
      </fieldset>
      <aside class="branch" data-branch-name="recurring-agreement" data-branch-value="yes">
        <h1 class="branch-logic">If yes</h1>
        <fieldset class="fieldset-recurring-agreement-period fieldset-radio" data-branch-name="recurring-agreement-period">
          <legend>Recurring agreement type</legend>
          <div class="field field-radio">
            <label for="recurring-agreement-period-annual">
              <input required 
                     name="recurring-agreement-period" 
                     id="recurring-agreement-period-annual" 
                     type="radio"
                     value="annual"
                     {{isRadioChecked 'recurring-agreement-period' 'annual'}}>
              <span class="label-text">Annual renewal</span>
            </label>
          </div>
          <div class="field field-radio">
            <label for="recurring-agreement-period-other">
              <input required 
                     name="recurring-agreement-period" 
                     id="recurring-agreement-period-other" 
                     type="radio"
                     value="other"
                     {{isRadioChecked 'recurring-agreement-period' 'other'}}>
              <span class="label-text">Other renewal</span>
            </label>
          </div>
        </fieldset>
        <aside class="branch" data-branch-name="recurring-agreement-period" data-branch-value="other">
          <h1 class="branch-logic">If other</h1>
          <div class="field">
            <label for="recurring-agreement-period-other-description">
              <span class="label-text">Renewal period</span>
              <input required 
                     name="recurring-agreement-period-other-description" 
                     id="recurring-agreement-period-other-description" 
                     type="text"
                     value="{{d 'recurring-agreement-period-other-description'}}">
            </label>
          </div>
        </aside>
      </aside>
    </section>
    <section class="section-form section-agreement-type">
      <header>
        <h1>Agreement type</h1>
      </header>
      <fieldset class="fieldset-agreement-type fieldset-radio">
        <legend>What type of agreement is this?</legend>
        <div class="field field-radio">
          <label for="agreement-type-single-order">
            <input required 
                   name="agreement-type" 
                   id="agreement-type-single-order" 
                   type="radio"
                   value="single-order"
                   {{isRadioChecked 'agreement-type' 'single-order'}}>
            <span class="label-text">Single order</span>
          </label>
        </div>
        <div class="field field-radio">
          <label for="agreement-type-multiple-order">
            <input required 
                   name="agreement-type" 
                   id="agreement-type-multiple-order" 
                   type="radio"
                   value="multiple-order"
                   {{isRadioChecked 'agreement-type' 'multiple-order'}}>
            <span class="label-text">Multiple order</span>
          </label>
        </div>
      </fieldset>
    </section>
    <section class="section-form section-advance-payments">
      <header>
        <h1>Are advance payments allowed?</h1>
      </header>
      <fieldset class="fieldset-advanced-payments fieldset-radio" data-branch-name="advance-payments">
        <legend>Are advance payments allowed?</legend>
        <div class="field field-radio">
          <label for="advance-payments-yes">
            <input required 
                   name="advance-payments" 
                   id="advance-payments-yes" 
                   type="radio"
                   value="yes"
                   {{isRadioChecked 'advance-payments' 'yes'}}>
            <span class="label-text">Yes</span>
          </label>
        </div>
        <div class="field field-radio">
          <label for="advance-payments-no">
            <input required
                   selected 
                   name="advance-payments" 
                   id="advance-payments-no" 
                   type="radio"
                   value="no"
                   {{isRadioChecked 'advance-payments' 'no'}}>
            <span class="label-text">No</span>
          </label>
        </div>
      </fieldset>
      <aside class="branch" data-branch-name="advance-payments" data-branch-value="yes">
        <h1 class="branch-logic">If yes</h1>
        <div class="field">
          <label for="advance-payments-authority">
            <span class="label-text">Requesting agency&rsquo;s statutory authority title and citation</span>
            <input name="advance-payments-authority" 
                   id="advance-payments-authority" 
                   type="text"
                   value="{{d 'advance-payments-authority'}}">
          </label>
        </div>
      </aside>
    </section>
    <section class="section-form section-estimated-agreement-amount">
      <header>
        <h1>Estimated agreement amount</h1>
      </header>
      <div class="field field-cost">
        <label for="estimated-cost">
          <span class="label-text">Direct cost</span>
          <input name="estimated-cost" id="estimated-cost" type="text" value="{{d 'estimated-cost'}}">
        </label>
      </div>
      <div class="field field-overhead">
        <label for="estimated-overhead">
          <span class="label-text">Overhead fees and charges</span>
          <input name="estimated-overhead" id="estimated-overhead" type="text" value="{{d 'estimated-overhead'}}">
        </label>
      </div>
      <div class="field field-total">
        <label for="estimated-total">
          <span class="label-text">Total estimated amount</span>
          <input name="estimated-total" id="estimated-total" type="text" value="{{d 'estimated-total'}}">
        </label>
      </div>
      <div class="field field-overhead-explanation">
        <label for="estimated-overhead-explanation">
          <span class="label-text">General explanation of overhead fees and charges</span>
          <textarea name="estimated-overhead-explanation" id="estimated-overhead-explanation">{{d 'estimated-overhead-explanation'}}</textarea>
        </label>
      </div>
    </section>
    <section class="section-form section-statutory-authority">
      <header>
        <h1>Statutory authority</h1>
      </header>
      <fieldset class="fieldset-requesting-agency fieldset-radio" data-branch-name="statutory-authority-requesting-agency">
        <legend>Requesting agency&rsquo;s authority</legend>
        <div class="field field-radio">
          <label for="statutory-authority-requesting-agency-franchise-fund">
            <input name="statutory-authority-requesting-agency" 
                   id="statutory-authority-requesting-agency-franchise-fund" 
                   type="radio"
                   value="franchise-fund"
                   {{isRadioChecked 'statutory-authority-requesting-agency' 'franchise-fund'}}>
            <span class="label-text">Franchise fund</span>
          </label>
        </div>
        <div class="field field-radio">
          <label for="statutory-authority-requesting-agency-revolving-fund">
            <input name="statutory-authority-requesting-agency" 
                   id="statutory-authority-requesting-agency-revolving-fund" 
                   type="radio"
                   value="revolving-fund"
                   {{isRadioChecked 'statutory-authority-requesting-agency' 'revolving-fund'}}>
            <span class="label-text">Revolving fund</span>
          </label>
        </div>
        <div class="field field-radio">
          <label for="statutory-authority-requesting-agency-working-capital-fund">
            <input name="statutory-authority-requesting-agency" 
                   id="statutory-authority-requesting-agency-working-capital-fund" 
                   type="radio"
                   value="working-capital-fund"
                   {{isRadioChecked 'statutory-authority-requesting-agency' 'working-capital-fund'}}>
            <span class="label-text">Working capital fund</span>
          </label>
        </div>
        <div class="field field-radio">
          <label for="statutory-authority-requesting-agency-economy-act">
            <input name="statutory-authority-requesting-agency" 
                   id="statutory-authority-requesting-agency-economy-act" 
                   type="radio"
                   value="economy-act"
                   {{isRadioChecked 'statutory-authority-requesting-agency' 'economy-act'}}>
            <span class="label-text">Economy act (31 U.S.C. 1535/FAR 17.5)</span>
          </label>
        </div>
        <div class="field field-radio">
          <label for="statutory-authority-requesting-agency-other">
            <input name="statutory-authority-requesting-agency" 
                   id="statutory-authority-requesting-agency-other" 
                   type="radio"
                   value="other"
                   {{isRadioChecked 'statutory-authority-requesting-agency' 'other'}}>
            <span class="label-text">Other</span>
          </label>
        </div>
      </fieldset>
      <aside class="branch" data-branch-name="statutory-authority-requesting-agency" data-branch-value="franchise-fund working-capital-fund revolving-fund other">
        <h1 class="branch-logic">If franchise fund, revolving fund, working capital fund, or other authority.</h1>
        <div class="field">
          <label for="statutory-authority-requesting-agency-authority">
            <span class="label-text">Requesting agency&rsquo;s statutory authority title and citation</span>
            <input name="statutory-authority-requesting-agency-authority" 
                   id="statutory-authority-requesting-agency-authority" 
                   type="text"
                   value="{{d 'statutory-authority-requesting-agency-authority'}}">
          </label>
        </div>
      </aside>
      <fieldset class="fieldset-servicing-agency fieldset-radio" data-branch-name="statutory-authority-servicing-agency">
        <legend>Servicing agency&rsquo;s authority</legend>
        <div class="field field-radio">
          <label for="statutory-authority-servicing-agency-franchise-fund">
            <input name="statutory-authority-servicing-agency" 
                   id="statutory-authority-servicing-agency-franchise-fund" 
                   type="radio"
                   value="franchise-fund"
                   {{isRadioChecked 'statutory-authority-servicing-agency' 'franchise-fund'}}>
            <span class="label-text">Franchise fund</span>
          </label>
        </div>
        <div class="field field-radio">
          <label for="statutory-authority-servicing-agency-revolving-fund">
            <input name="statutory-authority-servicing-agency" 
                   id="statutory-authority-servicing-agency-revolving-fund" 
                   type="radio"
                   value="revolving-fund"
                   {{isRadioChecked 'statutory-authority-servicing-agency' 'revolving-fund'}}>
            <span class="label-text">Revolving fund</span>
          </label>
        </div>
        <div class="field field-radio">
          <label for="statutory-authority-servicing-agency-working-capital-fund">
            <input name="statutory-authority-servicing-agency" 
                   id="statutory-authority-servicing-agency-working-capital-fund" 
                   type="radio"
                   value="working-capital-fund"
                   {{isRadioChecked 'statutory-authority-servicing-agency' 'working-capital-fund'}}>
            <span class="label-text">Working capital fund</span>
          </label>
        </div>
        <div class="field field-radio">
          <label for="statutory-authority-servicing-agency-economy-act">
            <input name="statutory-authority-servicing-agency" 
                   id="statutory-authority-servicing-agency-economy-act" 
                   type="radio"
                   value="economy-act"
                   {{isRadioChecked 'statutory-authority-servicing-agency' 'economy-act'}}>
            <span class="label-text">Economy act (31 U.S.C. 1535/FAR 17.5)</span>
          </label>
        </div>
        <div class="field field-radio">
          <label for="statutory-authority-servicing-agency-other">
            <input name="statutory-authority-servicing-agency" 
                   id="statutory-authority-servicing-agency-other" 
                   type="radio"
                   value="other"
                  {{isRadioChecked 'statutory-authority-servicing-agency' 'other'}}>
            <span class="label-text">Other</span>
          </label>
        </div>
      </fieldset>
      <aside class="branch" data-branch-name="statutory-authority-servicing-agency" data-branch-value="franchise-fund working-capital-fund revolving-fund other">
        <h1 class="branch-logic">If franchise fund, revolving fund, working capital fund, or other authority.</h1>
        <div class="field">
          <label for="statutory-authority-servicing-agency-authority">
            <span class="label-text">Servicing agency&rsquo;s statutory authority title and citation</span>
            <input name="statutory-authority-servicing-agency-authority" 
                   id="statutory-authority-servicing-agency-authority" 
                   type="text"
                   value="{{d 'statutory-authority-servicing-agency-authority'}}">
          </label>
        </div>
      </aside>
    </section>
    <section class="section-form section-scope">
      <header>
        <h1>Requesting agency&rsquo;s scope</h1>
      </header>
      <div class="field field-textarea field-scope">
        <label for="scope">
          <span class="label-text">Requesting agency&rsquo;s scope</span>
          <textarea name="scope" id="scope">{{d 'scope'}}</textarea>
        </label>
      </div>
    </section>
    <section class="section-form section-roles-and-responsibilities">
      <header>
        <h1>Roles &amp; responsibilities</h1>
      </header>
      <div class="field field-textarea field-roles-and-responsibilities">
        <label for="roles-and-responsibilities">
          <span class="label-text">Roles and responsibilities for the parties</span>
          <textarea name="roles-and-responsibilities" id="roles-and-responsibilities">{{d 'roles-and-responsibilities'}}</textarea>
        </label>
      </div>
    </section>
    <section id="13" class="section-form section-restrictions">
      <header>
        <h1>Restrictions</h1>
      </header>
      <div class="field field-textarea">
        <label for="restrictions">
          <span class="label-text">Restrictions</span>
          <textarea name="restrictions" id="restrictions">{{d 'restrictions'}}</textarea>
        </label>
      </div>
    </section>
    <section class="section-form section-assisted-acquisition-small-business-credit-clause branch" data-branch-name="assisted-acquisition-agreement" data-branch-value="yes">
      <header>
        <h1>Assisted acquisition small business credit clause</h1>
      </header>
      <div class="field field-textarea field-assisted-acquisition-small-business-credit-clause">
        <label for="assisted-acquisition-small-business-credit-clause">
          <span class="label-text">Assisted acquisition small business credit clause</span>
          <textarea readonly name="assisted-acquisition-small-business-credit-clause" id="assisted-acquisition-small-business-credit-clause">{{d 'assisted-acquisition-small-business-credit-clause'}}</textarea>
        </label>
      </div>
    </section>
    <section class="section-form section-disputes">
      <header>
        <h1>Disputes</h1>
      </header>
      <div class="field field-textarea field-disputes">
        <label for="disputes">
          <span class="label-text">Disputes</span>
          <textarea readonly name="disputes" id="disputes">{{d 'disputes'}}</textarea>
        </label>
      </div>
    </section>
    <section class="section-form section-termination">
      <header>
        <h1>Termination</h1>
      </header>
      <div class="field field-textarea field-termination-days">
        <label for="termination-days">
          <span class="label-text">Number of days this IAA may be terminated by written notice by either party.</span>
          <input name="termination-days" id="termination-days" type="text" value="{{d 'termination-days'}}">
        </label>
      </div>
      <div class="field field-textarea field-termination-additional-terms">
        <label for="termination-additional-terms">
          <span class="label-text">If this agreement is cancelled, any implementing contract/order may also be cancelled. If the IAA is terminated, the agencies shall agree to the terms of the termination, including costs attributable to each part and the disposition of awarded and pending actions.</span>
          <textarea readonly name="termination-additional-terms" id="termination-additional-terms">{{d 'termination-additional-terms'}}</textarea>
        </label>
      </div>
    </section>
    <section class="section-form section-authorized-assistants-requesting-agency branch" data-branch-name="assisted-acquisition-agreement" data-branch-value="yes">
      <header>
        <h1>Assisted acquisition agreements &mdash; requesting agency&rsquo;s organizations authorized to request acquisition assistance for this IAA.</h1>
      </header>
      <div class="field field-textarea">
        <label for="authorized-assistants-requesting-agency">
          <span class="label-text">Requesting agency&rsquo;s organizations authorized to request acquisition assistance for this IAA</span>
          <textarea name="authorized-assistants-requesting-agency" id="authorized-assistants-requesting-agency">{{d 'authorized-assistants-requesting-agency'}}</textarea>
        </label>
      </div>
    </section>
    <section class="section-form section-authorized-assistants-requesting-agency branch" data-branch-name="assisted-acquisition-agreement" data-branch-value="yes">
      <header>
        <h1>Assisted acquisition agreements &mdash; servicing agency&rsquo;s organizations authorized to request acquisition assistance for this IAA.</h1>
      </header>
      <div class="field field-textarea">
        <label for="authorized-assistants-servicing-agency">
          <span class="label-text">Servicing agency&rsquo;s organizations authorized to request acquisition assistance for this IAA</span>
          <textarea name="authorized-assistants-servicing-agency" id="authorized-assistants-servicing-agency">{{d 'authorized-assistants-servicing-agency'}}</textarea>
        </label>
      </div>
    </section>
    <section class="section-form section-clauses-requesting-agency">
      <header>
        <h1>Requesting agency&rsquo;s clause(s)</h1>
      </header>
      <div class="field field-textarea">
        <label for="clauses-requesting-agency">
          <span class="label-text">Requesting agency&rsquo;s clause(s)</span>
          <textarea name="clauses-requesting-agency" id="clauses-requesting-agency">{{d 'clauses-requesting-agency'}}</textarea>
        </label>
      </div>
    </section>
    <section class="section-form section-clauses-servicing-agency">
      <header>
        <h1>Servicing agency&rsquo;s clause(s)</h1>
      </header>
      <div class="field field-textarea">
        <label for="clauses-servicing-agency">
          <span class="label-text">Servicing agency&rsquo;s clause(s)</span>
          <textarea name="clauses-servicing-agency" id="clauses-servicing-agency">{{d 'clauses-servicing-agency'}}</textarea>
        </label>
      </div>
    </section>
    <section class="section-form section-additional-agency-attachments">
      <header>
        <h1>Additional agency attachments</h1>
      </header>
      <div class="field field-textarea field-additional-agency-attachments">
        <label for="additional-agency-attachments">
          <span class="label-text">Additional agency attachments</span>
          <textarea name="additional-agency-attachments" id="additional-agency-attachments">{{d 'additional-agency-attachments'}}</textarea>
        </label>
      </div>
    </section>
    <section class="section-form section-annual-review">
      <header>
        <h1>Annual review of IAA</h1>
      </header>
      <p>By signing this agreement, the parties agree to annually review the IAA if the agreement period exceeds one year. Appropriate changes will be made by ammendment to the GT&amp;C and/or modification to any affected order(s).</p>
    </section>
    <section class="section-form section-agency-official">
      <header>
        <h1>Agency official</h1>
      </header>
      <fieldset class="fieldset-requesting-agency">
        <legend>Requesting agency</legend>
        <div class="field field-name">
          <label for="agency-official-requesting-agency-name">
            <span class="label-text">Name</span>
            <input required name="agency-official-requesting-agency-name" id="agency-official-requesting-agency-name" type="text" value="{{d 'agency-official-requesting-agency-name'}}">
          </label>
        </div>
        <div class="field field-title">
          <label for="agency-official-requesting-agency-title">
            <span class="label-text">Title</span>
            <input required name="agency-official-requesting-agency-title" id="agency-official-requesting-agency-title" type="text" value="{{d 'agency-official-requesting-agency-title'}}">
          </label>
        </div>
        <div class="field field-telephone-number">
          <label for="agency-official-requesting-agency-telephone-number">
            <span class="label-text">Telephone number</span>
            <input required name="agency-official-requesting-agency-telephone-number" id="agency-official-requesting-agency-telephone-number" type="tel" value="{{d 'agency-official-requesting-agency-telephone-number'}}">
          </label>
        </div>
        <div class="field field-fax-number">
          <label for="agency-official-requesting-agency-fax-number">
            <span class="label-text">Fax number</span>
            <input required name="agency-official-requesting-agency-fax-number" id="agency-official-requesting-agency-fax-number" type="tel" value="{{d 'agency-official-requesting-agency-fax-number'}}">
          </label>
        </div>
        <div class="field field-email-address">
          <label for="agency-official-requesting-agency-email-address">
            <span class="label-text">Email address</span>
            <input required name="agency-official-requesting-agency-email-address" id="agency-official-requesting-agency-email-address" type="email" value="{{d 'agency-official-requesting-agency-email-address'}}">
          </label>
        </div>
        <div class="field field-date field-approval-date">
          <label for="agency-official-requesting-agency-approval-date">
            <span class="label-text">Approval date</span>
            <input required name="agency-official-requesting-agency-approval-date" id="agency-official-requesting-agency-approval-date" type="date" value="{{d 'agency-official-requesting-agency-approval-date'}}">
          </label>
        </div>
      </fieldset>
      <fieldset class="fieldset-servicing-agency">
        <legend>Servicing agency</legend>
        <div class="field field-name">
          <label for="agency-official-servicing-agency-name">
            <span class="label-text">Name</span>
            <input required name="agency-official-servicing-agency-name" id="agency-official-servicing-agency-name" type="text" value="{{d 'agency-official-servicing-agency-name'}}">
          </label>
        </div>
        <div class="field field-title">
          <label for="agency-official-servicing-agency-title">
            <span class="label-text">Title</span>
            <input required name="agency-official-servicing-agency-title" id="agency-official-servicing-agency-title" type="text" value="{{d 'agency-official-servicing-agency-title'}}">
          </label>
        </div>
        <div class="field field-telephone-number">
          <label for="agency-official-servicing-agency-telephone-number">
            <span class="label-text">Telephone number</span>
            <input required name="agency-official-servicing-agency-telephone-number" id="agency-official-servicing-agency-telephone-number" type="tel" value="{{d 'agency-official-servicing-agency-telephone-number'}}">
          </label>
        </div>
        <div class="field field-fax-number">
          <label for="agency-official-servicing-agency-fax-number">
            <span class="label-text">Fax number</span>
            <input required name="agency-official-servicing-agency-fax-number" id="agency-official-servicing-agency-fax-number" type="tel" value="{{d 'agency-official-servicing-agency-fax-number'}}">
          </label>
        </div>
        <div class="field field-email-address">
          <label for="agency-official-servicing-agency-email-address">
            <span class="label-text">Email address</span>
            <input required name="agency-official-servicing-agency-email-address" id="agency-official-servicing-agency-email-address" type="email" value="{{d 'agency-official-servicing-agency-email-address'}}">
          </label>
        </div>
        <div class="field field-date field-approval-date">
          <label for="agency-official-requesting-agency-approval-date">
            <span class="label-text">Approval date</span>
            <input required name="agency-official-requesting-agency-approval-date" id="agency-official-requesting-agency-approval-date" type="date" value="{{d 'agency-official-requesting-agency-approval-date'}}">
          </label>
        </div>
      </fieldset>
    </section>
    <footer>
      <button type="submit">Submit</button>
    </footer>
  </form>
  {{/with}}
</template>
